#/* vim: set ft=sh : */
PATH_add script

export HTTPS_KEY HTTPS_CERT HTTPS_CHAIN AUTHORIZED_KEYS \
       PG_DOTCOM_PASS PG_CONCOURSE_PASS  \
       CM_SMTP_TOKEN \
       CM_API_TOKEN \
       DNSIMPLE_EMAIL DNSIMPLE_API_TOKEN \
       CONCOURSE_AUTH_PASS \
       DOTCOM_BACKUP_AWS_REGION DOTCOM_BACKUP_S3_BUCKET DOTCOM_BACKUP_AWS_ACCESS_KEY_ID DOTCOM_BACKUP_AWS_SECRET_ACCESS_KEY \
       CONCOURSE_SSH_PRIVATE_KEY SSH_KNOWN_HOSTS

HTTPS_KEY="$(lpass show --notes 8038492725192048930)"
HTTPS_CERT="$(lpass show --notes 7748004306557989540)"
HTTPS_CHAIN="$(lpass show --notes 7805721100170523590)"

AUTHORIZED_KEYS="$(lpass show --notes 5163884265580582952)"

PG_DOTCOM_PASS="$(lpass show --password 1394836924033726964)"
PG_CONCOURSE_PASS="$(lpass show --password 2285336672128671174)"

CM_SMTP_TOKEN="$(lpass show --notes 4518157498237793892)"
CM_API_TOKEN="$(lpass show --notes 2172742429466797248)"

DNSIMPLE_EMAIL="$(lpass show --user 1393964598298257404)"
DNSIMPLE_API_TOKEN="$(lpass show --notes 1393964598298257404)"

CONCOURSE_AUTH_PASS="$(lpass show --password 7344766561086444031)"

DOTCOM_BACKUP_AWS_REGION="$(lpass show --field=REGION 2613340936754190368)"
DOTCOM_BACKUP_S3_BUCKET="$(lpass show --field=BUCKET 2613340936754190368)"
DOTCOM_BACKUP_AWS_ACCESS_KEY_ID="$(lpass show --field=AWS_ACCESS_KEY_ID 2613340936754190368)"
DOTCOM_BACKUP_AWS_SECRET_ACCESS_KEY="$(lpass show --field=AWS_SECRET_ACCESS_KEY 2613340936754190368)"

CONCOURSE_SSH_PRIVATE_KEY="$(lpass show --field='Private Key' 6044391722969259012)"
SSH_KNOWN_HOSTS="$(lpass show --notes 114148528593666874)"
