#/* vim: set ft=sh : */
PATH_add script

export HTTPS_KEY HTTPS_CERT HTTPS_CHAIN AUTHORIZED_KEYS

HTTPS_KEY="$(lpass show --notes 8038492725192048930)"
HTTPS_CERT="$(lpass show --notes 7748004306557989540)"
HTTPS_CHAIN="$(lpass show --notes 7805721100170523590)"
AUTHORIZED_KEYS="$(lpass show --notes 5163884265580582952)"
PG_ADMIN_PASS="$(lpass show --password 1394836924033726964)"
