server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;
  # Make site accessible from http://localhost/
  server_name _ localhost;

  # Respond to monitoring agents looking for this specific endpoint
  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    allow {{ docker_network_gateway.stdout }};
    deny all;
  }

  # Return No Response to all other requests
  location / {
    return 444;
  }
}
