#/* vim: set ft=cfg : */

server {
  listen 80;
  server_name {{ fqdn }};
  return 301 https://{{ fqdn }}$request_uri;
}

server {
  listen 443 ssl;
  server_name {{ fqdn }};

  # All user agents will use https://, remember for 1 year
  # Add this domain to the user agent's HSTS preload list
  add_header Strict-Transport-Security 'max-age=31536000; preload';
  # The page can only be displayed in a frame on the same origin as the page itself
  add_header X-Frame-Options SAMEORIGIN;

  ssl on;
  ssl_certificate /etc/nginx/ssl/star.changelog.com.crt;
  ssl_certificate_key /etc/nginx/ssl/star.changelog.com.key;
  ssl_trusted_certificate /etc/nginx/ssl/star.changelog.com.fullchain.pem;

  client_max_body_size {{ dotcom_max_upload_size_mb }}M;

  root /var/www/dotcom/_build/prod/lib/changelog/priv/static;

  location / {
    try_files $uri @dotcom;
  }

  location @dotcom {
    proxy_pass http://dotcom:4000;
    proxy_pass_header server;
  }

  location ^~ /uploads {
    root /var/www;
  }

  location ^~ /wp-content {
    root /var/www/legacy;
  }

  include /etc/nginx/conf.d/*.server;
}

server {
  listen 80;
  server_name changelog.fm;
  return 301 https://{{ fqdn }}/podcast$request_uri;
}
