#/* vim: set ft=cfg : */

server {
  listen 80;
  include /etc/nginx/sites/{{ fqdn }}.common;
}

server {
  listen 443 ssl http2;
  include /etc/nginx/sites/{{ fqdn }}.common;

  # All user agents will use https://, remember for 1 year
  # Add this domain to the user agent's HSTS preload list
  add_header Strict-Transport-Security 'max-age=31536000; preload';

  ssl on;
  ssl_certificate /etc/nginx/ssl/star.changelog.com.crt;
  ssl_certificate_key /etc/nginx/ssl/star.changelog.com.key;
  ssl_trusted_certificate /etc/nginx/ssl/star.changelog.com.fullchain.pem;
}

server {
  listen 80;
  server_name changelog.fm;
  return 301 https://{{ fqdn }}/podcast$request_uri;
}

server {
  listen 80;
  server_name gotime.fm;
  location /live { return 301 https://{{ fqdn }}$request_uri; }

  # Sponsor redirects
  location /datadog { return 301 https://www.datadoghq.com/dg/apm/ts-go-tracing/?utm_source=Advertisement&utm_medium=Advertisement&utm_campaign=GotimePodcast-Tshirt; }

  location / { return 301 https://{{ fqdn }}/gotime$request_uri; }
}

server {
  listen 80;
  server_name jsparty.fm;
  location /live { return 301 https://{{ fqdn }}$request_uri; }

  # Sponsor redirects
  location /sentry { return 301 https://sentry.io/from/jsparty/; }

  location / { return 301 https://{{ fqdn }}/jsparty$request_uri; }
}

server {
  listen 80;
  server_name rfc.fm;
  return 301 https://{{ fqdn }}/rfc$request_uri;
}
